.gallery{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:12px;
    margin-top:16px;
    opacity: 0.5;
    animation:showImages .3s ease forwards;
}

@media(max-width:768px){
  .gallery{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap:12px;
     justify-content: center;
     align-items: flex-start;
     margin-top:64px;
  }
}
@keyframes showImages{
  to{
  opacity: initial;
  transform: initial;
  }
}