.gallery{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row: auto;
    gap:12px;
    margin-top:16px;
}

@media(max-width:768px){
  .gallery{
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     gap:12px;
     justify-content: center;
     align-items: flex-start;
     margin-top:64px;
  }
}
