.ImageGallery{
    width: 100%;
    max-height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all .2s;
    flex:1;
}

.ImageGallery:hover{
    filter: brightness(70%);
}
@media(max-width:768px){
    .ImageGallery{
       max-width: 360px;
    }
}

