.ImageGallery{
    width: 100%;
    max-width: 320px;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    object-position: center;
    transition: all 0.1s;
    cursor: pointer;
    transition: all .2s;
    flex:1;
}
.ImageGallery:hover{
    filter: brightness(70%);
}

