.modal{
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: fixed;
    top:0;
    left:0; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow-y: auto;

}
.closeModal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    opacity: 0;
    animation: showBackgroundModal .2s forwards;

}
.modal > *:nth-child(2){
    transform: scale(.8) ;
    opacity: 0;
    animation: showModal .1s linear forwards;
    animation-delay: .1s;
}
@keyframes showModal{
    to{
        transform:initial;
        opacity: initial;
    }
  }
@keyframes showBackgroundModal{
    to{
        opacity: initial;
    }
  }
  @media(max-width:768px){
    .modal{

        align-items: flex-start;
        justify-content: flex-start;
    }

}